name: Deploy Dockerhub
  
on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest]
        
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Restore Maven Cache
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/*.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
          
  

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'



      - name: Login to 
        id: login-ecr
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t fibonacci:latest .
       
      - name: Push Docker image to Dockerhub
        run: |
          docker push Joshrichhy/fibonacci:latest
         
